<h2>Crear nueva música </h2>
<form  {{action 'createMusic' on="submit"}}>
	<p>Nombre: {{input value=name type="text"}}
  </p>
	<p>Descripción: {{input value=description type="text" }}
  </p>
	<button>Crear</button>
</form>
<h2>Eliminar y modificar Música</h2>
{{#each model as |music|}}
	{{music-books music=music
		onDeleteMusic=(action 'deleteMusic' music)
		onUpdateMusic = (action 'updateMusic' music)
	}}
{{else}}
	<p>No hay música</p>
{{/each}}
